@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*{
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh; /* unidade vh é a altura do viewport, permitindo que o body defina um valor minimo de altura com base na altura total do viewport do usuário */
}
/* root é o acesso GLOBAL */
:root{
    --background-clean: beige;
    --cor-da-empresa: orange;
}

/* ABAIXO COMEÇA A ESTILIZAÇÃO DO HEADER - NAV */

.cabecalho{
    width: 100%;
    background-image: url(https://thumbs.dreamstime.com/b/esquina-de-comida-mexicana-borde-arriba-abajo-vista-sobre-un-oscuro-fondo-banner-con-espacio-copia-la-est%C3%A1-en-parte-hacia-tacos-191566359.jpg);
}

.menu .ul-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: beige;
}

.ul-menu li{
    list-style: none;
    padding: 2rem;
}
.bi-person-circle{
    font-size: 60px;
    color: var(--background-clean);
}

ul li#imagem-localizacao{
    display: flex;
    padding-right: 0;
    padding-left: 5rem;
    margin-right: .8rem;
    align-items: center;
}

.bi-pin-map-fill{
    font-size: 60px;
    color: var(--background-clean);
}

.nome-localizacao{
    font-size: 40px;
    padding-left: 0;
    padding-right: 5rem;
}

.bi-file-earmark-image-fill{
    font-size: 60px;
    color: var(--background-clean);
}

/* ESTILIZAÇÃO DA SEÇÃO DAS MENSAGENS: */

section#mensagens-inicio{
    padding: 2rem;
    background-color: var(--background-clean);
}

#nome-empresa{
    font-style: bold;
    font-size: 50px;
    margin-bottom: .5rem;
    color: var(--cor-da-empresa);
}

.mensagem{
    color: gray;
    font-size: 25px;
}

/* ESTILIZAÇÃO DO SEÇÃO DO INPUT */

section#input{
    display: flex;
    padding-top: 1rem;
    width: 90%;
    margin: auto;
    align-items: center;
}

i.bi-search{
    position: absolute;
    color: var(--cor-da-empresa);
    padding-top: .2rem;
    padding-left: 5rem;
    font-size: 40px; 
}

#input-text{
    width: 90%;
    margin: auto;
    font-size: 25px;
    padding: 0.5rem 0 0.5rem;
    padding-left: 4rem;
    border: 1.5mm outset var(--cor-da-empresa);
    text-align: center;
    border-radius: 2rem;
}

input:focus{
    outline: 0;
}

input[type=text]{
    color: var(--cor-da-empresa);
}

::-webkit-input-placeholder{
    color: var(--cor-da-empresa);
}

/* ESTILIZAÇÃO DA SEÇÃO CATEGORIA */

section#categorias{
    display: flex;
    justify-content: space-around;
}

#categoria-ul{
    display: flex;
    justify-content: center;
    /* border: solid 2mm; */
    
}

.categoria-a{
    text-decoration: none;
    justify-content: center;
    color: var(--cor-da-empresa);
    list-style: none;
    border: 1mm solid var(--cor-da-empresa);
    border-radius: 2rem;
    width: 90%;
    padding: 1rem 7rem 1rem 7rem;
    margin: 1.2rem;
    font-weight: 500;
    text-align: center;
    transition: transform 0.6s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.categoria-a:hover{
    background-color: rgb(156, 103, 4);
    /* border: 5px solid gray; */
    transform: scale(1.1);
    box-shadow: 0 5px 15px var(--cor-da-empresa);
}

/* ESTILIZAÇÃO DO DA SEÇÃO PRODUTO */

section#cards-produtos{
    display: flex;
}

.card-produto{
    display: block;
    margin: 2rem;
    border-radius: 2rem;
    box-shadow: 0 5px 15px var(--cor-da-empresa);
    justify-content: center;
    align-items: center;
    width: 25%;
    align-content: center;
}
.card-produto:hover{
    box-shadow: inset 50px 0 0;
    color: white;
}

.card-produto img{
    display: block;
    width: 70%;
    margin: auto;
    justify-content: center;
    font-size: 2px;
    
}

h3.nome-do-produto{
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: var(--cor-da-empresa);
    margin-bottom: 1.3rem;
    margin-top: .2rem;
}

/* ESTILIZAÇÃO DA SEÇAO VER MAIS */

#ver-mais{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-right: 3rem;
    margin-bottom: 2rem;
    padding: 15px;
    width: 15%;
}

.cliquevermais{
    display: flex;
    justify-content: flex-end;
}

a.vermais{
    color: var(--cor-da-empresa);
    text-decoration: none;
    margin: .8rem 2rem;
}

a.vermais:hover{
    box-shadow: 2px 2px 35px 2px var(--cor-da-empresa);
    text-align: left;
    border-radius: 1.3rem;
}

/* ABAIXO COMEÇA A ESTILIZAÇÃO DA AVALIAÇÃO */

section#avaliacao{
    text-align: center;
    border: .4rem outset var(--cor-da-empresa);
    border-radius: 2rem;
    width: 90%;
    margin: 2rem;
    padding: 0.5rem;
    margin: auto;
    font: bold 1rem sans-serif;
}

#titulo-avaliacao{
    font-size: 40px;
    color: var(--cor-da-empresa);
    text-shadow: 2px 2px black;
}

.bi-hand-thumbs-up{
    font-size: 40px;
    color: var(--cor-da-empresa);
    text-shadow: 2px 2px black;
}

.bi-hand-thumbs-down{
    font-size: 40px;
    color: var(--cor-da-empresa);
    text-shadow: 2px 2px black;
}

#frase-da-avaliacao{
    font-size: 35px;
    color: rgb(240, 181, 69);
    text-shadow: 2px 2px black;
    padding: 1.2rem;
}


/* ABAIXO COMEÇA A ESTILIZAÇÃO DO FOOTER */

.footer{
    background-color: var(--background-clean);
    margin-top: 3rem;
}

.footer-card{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: baseline;
}


.footer-card a{
    text-decoration: none;
    text-align: center;
}

.footer-item{
    margin: .5rem;
}
i.bi-house-door-fill{
    font-size: 60px;
    color: var(--cor-da-empresa);
}

i.bi-emoji-smile{
    font-size: 60px;
    color: var(--cor-da-empresa);
}

i.bi-upc-scan{
    font-size: 60px;
    color: var(--cor-da-empresa);
}

i.bi-cart{
    font-size: 60px;
    color: var(--cor-da-empresa);
}
i.bi-stickies{
    font-size: 60px;
    color: var(--cor-da-empresa);
}

.footer-nome-item{
    font-size: 20px;
    font-weight: 700;
    color: gray;
}

